// .wrapper {
//   display: flex;
//   background: #F5F7FF;
//   height: 100%;
// }

// .app-main {
//   width: 100%;
// }

mat-spinner {
  margin: 64px auto;
}

ol, ul, dl {
  list-style: none;
  box-sizing: border-box;
}
