.agent-compare-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 64px 32px;
}

.compare-row {
  display: flex;
  flex-wrap: wrap;
}

.compare-row-col {
  flex: 1;
  position: relative;

  &:not(:last-child) {
    margin-right: 40px;

    &:after {
      content: 'compare_arrows';
      font-family: 'Material Icons';
      font-size: 28px;
      position: absolute;
      right: -35px;
      top: 17px;
    }
  }
}

.compare-chart {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 96px 0;
}
