<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-button aria-label="Go to overview" routerLink="/">
      <mat-icon>keyboard_arrow_left</mat-icon> Overview
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-spinner diameter="50" *ngIf="!dataLoaded && !dataError"></mat-spinner>

<div class="agent-compare-wrapper" *ngIf="dataLoaded">
  <section>
    <h1>Compare agents</h1>
    <p>Select two agents to compare their average score</p>
  </section>
  <section class="compare-row">
    <div *ngFor="let i of [].constructor(MAX_AGENTS); let j = index;" class="compare-row-col">
      <app-agent-compare-select
        [agents]="agents"
        [compareAgent]="agentsToCompare[j]"
        [agentId]="j"
        [duplicatedAgents]="duplicatedAgents"
        (notify)="selectChanged($event)">
      </app-agent-compare-select>
    </div>
  </section>

  <p class="error" color="warn" *ngIf="duplicatedAgents"><mat-icon>warning</mat-icon> Select 2 different agents to compare.</p>

  <section *ngIf="!duplicatedAgents" class="compare-chart">
    <app-agent-compare-chart [data]="chartData"></app-agent-compare-chart>
  </section>
</div>
