.error {
  color: #D50000;
  margin: 0;
}

.error .mat-icon {
  margin-right: 5px;
  vertical-align: bottom;
}

mat-spinner {
  margin: 64px auto;
}

span.mat-button-wrapper {
  color: white;
}

ol, ul, dl {
  list-style: none;
  box-sizing: border-box;
}
